.profile .ant-upload-wrapper.ant-upload-picture-circle-wrapper .ant-upload.ant-upload-select,
.ant-upload-wrapper.ant-upload-picture-circle-wrapper .ant-upload-list.ant-upload-list-picture-circle .ant-upload-list-item-container 
{
    width: 200px;
    height: 200px;
    margin-left: 10px;
}
.profile :where(.css-dev-only-do-not-override-1d4w9r2).ant-btn-variant-solid:not(:disabled):not(.ant-btn-disabled):hover {
    background-color: rgba(255, 0, 0, 0.504);
}.profile {
    color: #fff;
}

.custom-input {
    background-color: transparent;
    color: #fff;
    border: 1px solid #4b4b4b;
    border-radius: 4px;
    transition: background-color 0.3s, color 0.3s;
}

.custom-input:hover,
.custom-input:focus {
    background-color: #d3d3d3 !important; /* Thay đổi thành màu xám LightGray */
    color: #000 !important; /* Chữ đổi thành màu đen */
}

.custom-input::placeholder {
    color: #ccc;
}

.custom-input:hover::placeholder,
.custom-input:focus::placeholder {
    color: #666; /* Màu placeholder khi hover/focus */
}

.ant-upload {
    width: 100px !important;
    height: 100px !important;
}

.ant-upload-list-item {
    width: 100px !important;
    height: 100px !important;
}

.ant-upload-list-item-image {
    width: 100% !important;
    height: 100% !important;
    object-fit: cover;
}

.ant-btn.bg-red-600 {
    background-color: #dc2626 !important;
    border-color: #dc2626 !important;
}

.ant-btn.bg-red-600:hover {
    background-color: #b91c1c !important;
    border-color: #b91c1c !important;
}